button,
.window-title,
.btn,
.sysinfo {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}

.popup-volume {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}

.popup-bluetooth {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}

.popup-clock {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}

.popup-clock .calendar.view {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}

.popup-clock .calendar:selected {
    background: linear-gradient(90deg, #304352, #d7d2cc);
}
